<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login</title>
<link rel="stylesheet" th:href="@{/index.css}" />
<link rel="stylesheet" th:href="@{/bootstrap.css}" />
</head>
<body>
<h1 th:text="${session.message}"></h1><br/>
<a class="text-center" th:href="@{/record}">All Record</a><br/>
<h1 class="text-center">Register Yourself</h1>
	<div class="container p-5">
		<form th:action="@{/process}" method="post" th:object="${users}">
			<div class="form-group">
				<label for="exampleInputUsername">UserName</label> <input
					type="text" class="form-control" id="exampleInputUsername"
					aria-describedby="emailHelp" placeholder="Enter Username"
					name="userName"
					th:classappend="${#fields.hasErrors('userName') ? 'is-invalid' : ' '}">
					<p th:each="e : ${#fields.errors('userName')}" th:text="${e}" id="validationServerUsername" class="invalid-feedback">
					</p>
			</div>

			<div class="form-group">
				<label for="exampleInputEmail">Email address</label> <input
					type="email" class="form-control" id="exampleInputEmail"
					aria-describedby="emailHelp" placeholder="Enter Email" name="email"
					th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ' '}">
					<p th:each="e : ${#fields.errors('email')}" th:text="${e}" id="validationServerUsername" class="invalid-feedback">
					</p>
			</div>

			<div class="form-group">
				<label for="exampleInputPassword">Password</label> <input
					type="password" class="form-control" id="exampleInputPassword"
					aria-describedby="emailHelp" placeholder="Enter Password"
					name="password"
					th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ' '}">
					<p th:each="e : ${#fields.errors('password')}" th:text="${e}" id="validationServerUsername" class="invalid-feedback">
					</p>
					<h4 th:text="${msg}"></h4>
			</div>

			<div class="form-group">
				<label for="exampleInputCPassword">Confirm Password</label> <input
					type="password" class="form-control" id="exampleInputCPassword"
					aria-describedby="emailHelp" placeholder="Confirm Password"
					name="confirmPassword"
					th:classappend="${#fields.hasErrors('confirmPassword') ? 'is-invalid' : ' '}">
					<p th:each="e : ${#fields.errors('confirmPassword')}" th:text="${e}" id="validationServerUsername" class="invalid-feedback">
					</p>
			</div>

			<div class="form-group">
				<label for="inputGender">Gender</label> <select id="inputGender"
					class="form-control" name="gender">
					<option selected>Male</option>
					<option>Female</option>
				</select>
			</div>


			<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1" name="isChecked" value="checked">
				<label class="form-check-label" for="exampleCheck1">Check me
					out</label>
			</div>


			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</body>
</html>